#text2
{
    padding-left: 60px;
  
   
}

#text3 
{
    width: 110px;
  
   
}
#toc2
{
   right: 35px;
    
    
}   
#im
{
    padding-left: 35px;
}
#im1
{
    padding-left: 60px;
}
#message
{
    width: 210px;
    height: 60px;
    
}
#des
{
    padding-left: 55px;
}
table,td{
    border: 1px solid rgb(41, 41, 41)
}

